<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>WOOTREX</h2>
        </header>
        <p>Welcome to <strong>wootrex, llc</strong>, <br> a data science and software engineering company
        <br />
        <footer>
            <ul class="buttons vertical">
                <li><a href="contact.html" class="button fit scrolly">Contact</a></li>
            </ul>
        </footer>

    </div>

</section>